PORT=4000
CLIENT_ORIGIN=https://TU-FRONTEND.example
SPOTIFY_CLIENT_ID=4470c5437ede4e52b6c3484fc9ac7fdd
SPOTIFY_REDIRECT_URI=https://TU-BACKEND.example/api/spotify/callback
VITE_API_URL=https://TU-BACKEND.example
